
   @font-face {
    font-family: 'Shin Go Heavy'; /* Name you choose to use later */
  src: url('a-otf-shin-go-pro-webfont/AOTFShinGoProHeavy.woff') format('woff2'),
       url('a-otf-shin-go-pro-webfont/AOTFShinGoProHeavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Prevents invisible text while loading */
    }

    @font-face {
    font-family: 'Shin Go Normal'; /* Name you choose to use later */
  src: url('a-otf-shin-go-pro-webfont/AOTFShinGoProMedium.woff') format('woff2'),
       url('a-otf-shin-go-pro-webfont/AOTFShinGoProMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Prevents invisible text while loading */
    }

    @font-face {
    font-family: 'Shin Go Light'; /* Name you choose to use later */
  src: url('a-otf-shin-go-pro-webfont/AOTFShinGoProLight.woff') format('woff2'),
       url('a-otf-shin-go-pro-webfont/AOTFShinGoProLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Prevents invisible text while loading */
    }
h1{ color: white;
        font-family:'Shin Go Heavy', sans-serif;
    font-size: 68px;
      position: center;
  animation: myfirst 5s 80;
  background-color: black;
    display:inline-block;
  align-self: center;
  animation-direction: center;
  text-align:center;
}

@keyframes myfirst {
  0%  {color:blue}
  16%  {color:cyan}
  32%  {color:greenyellow}
  48% {color:yellow}
  64% {color:orange}
  80% {color:red}
  100% {color:blue}
}
     h2{ color: white;
        font-family:'Shin Go Normal',sans-serif;
    font-size: 40px;
    background-color: black;
    display:inline-block;
    text-align:center}
    h3{ color: white;
        font-family:'Shin Go Normal',sans-serif;
    font-size: 32px;
    background-color: black;
    display:inline-block;
    text-align:center}
    p{
        color: white;
        font-family:'Shin Go Light',sans-serif;
    font-size: 18px;
    font-style: oblique;
    background-color: black;
    display:inline-block;
    text-align:center;}
#logo{
      position: relative;
  animation: mysecond 3s 80;
  animation-direction: alternate;
}

@keyframes mysecond {
  0%   {left: 0px; top: 0px;}
  33%  {left: 200px; top: 0px;}
  66%  {left: 0px; top: 0px;}
  100%  {left: -200px; top: 0px;}
}
#icon{
      position: relative;
  animation: mythird 5s 80;
  animation-direction: alternate;
}

@keyframes mythird {
   0%   {left: 250px; top: 0px;}
  33%  {left: 350px; top: 0px;}
  66%  {left: 250px; top: 0px;}
  100%  {left: 150px; top: 0px;}
}
#icon{
      size: 200px
}
#only{
        color: white;
        font-family:'Shin Go Normal',sans-serif;
    font-size: 18px;
    font-style: oblique;
    background-color: black;
    display:block;
  border:5px;
border-radius:10px;
padding:5px;}
#fish{
color: white;
        font-family:'Shin Go Normal', sans-serif;
    font-size: 24px;
    font-style: oblique;
  background-color:blue;
  display:block;
  border:5px;
border-radius:10px;
padding:5px;
}
#scallop{
color: rgb(0, 0, 0);
        font-family:'Shin Go Normal', sans-serif;
    font-size: 24px;
    font-style: oblique;
    background-color:aqua;
    display:block;
    border:5px;
border-radius:10px;
padding:5px;
  }
#shrimp{
color: black;
        font-family:'Shin Go Normal', sans-serif;
    font-size: 24px;
    font-style: oblique;
  background-color:greenyellow;
    display:block;
    border:5px;
border-radius:10px;
padding:5px;}
#squid{
color: black;
        font-family:'Shin Go Normal', sans-serif;
    font-size: 24px;
    font-style: oblique;
    background-color: yellow;
    display:block;
    border:5px;
border-radius:10px;
padding:5px;
  }
#octopus{
color: black;
        font-family:'Shin Go Normal', sans-serif;
    font-size: 24px;
    font-style: oblique;
    background-color:orange;
    display:block;
    border:5px;
border-radius:10px;
padding:5px;}
#crab{
color: black;
        font-family:'Shin Go Normal', sans-serif;
    font-size: 24px;
    font-style: oblique;
   background-color:red;
    display:block;
    border:5px;
border-radius:10px;
padding:5px;}
.centerTable {
    margin: auto;
    width:100%;
}
th,td {
   align-items: center;
    text-align:center;
    padding:10px;
}
